
$colour1: rgb(70, 54, 50);
$colour2: rgb(190,166,160);


$colour3: rgb(254,8,0);
$colour4: rgb(0,95,225);

//basic format
h1{

	font-size: 3em;
}

body{
	overflow-x: hidden;
}

#baner{

	position: relative;
	overflow: hidden;


	width: 110vw;
	min-height: 500px;

	margin-top: -10px;
	margin-left: -10px;

	>*{
		position: absolute;
		top: 0px;
		left: 0px;
	}
	.backgroundImage{
		width: 100%;
		height: 100%;
		background-image: url("../img/bgImg1.png");
		background-size: cover;

		transition: background-image 5s;
	}
	#filter{

		width: 100%;
		height: 100%;

		background-color: $colour1;

		opacity: 0.9;
	}
	#description{

		width: 50%;
		height: fit-content;

		padding: 20px;

		margin: 10% 10%;

		h1,p,.quote{
			color: white;
		}

		h1{
			margin: 5px;
		}

		p{
			margin-left: 60px;
			padding: 10px;

			font-size: 1.5em;
		}
		.quote{

			font-size: 1em;

			label{
				float: right;
			}
		}
	}
}

#menu{
	width: 110vw;
	height: 35px;

	margin-left: -10px;

	background-color: $colour1;

	display: flex;

	justify-content: center;

	>label{
		width: fit-content;
		height: 25px;

		padding: 5px 20px;
		
		margin-left: 20px;

		display: flex;
		flex-direction: column;

		justify-content: center;

		a{
			text-decoration: none;	
		}

		h2{

			font-size: 12px;

			transition: font-size 0.3s;

			color: white;

			margin:0px;
		}
		div{
			margin-left: 50%;
			width: 0%;
			height: 2px;
			min-height: 2px;

			transition: margin 0.5s, width 0.5s;

			background-color: white;
		}
	}
	>label:hover{
		h2{
			font-size: 20px;;
		}
		div{
			margin-left: -5%;
			width: 110%;
		}
	}
}

.body{

	width: 80%;
	height: fit-content;

	margin: 30px 10%;

	article{

		h2,h3{
			width: 200px;
		}

		h2{

			margin: 30px auto 10px 30px;

			border-bottom: solid 5px $colour1;

			text-indent: 5px;
		}
		h3{
			margin: 10px auto 10px 5px;
		}
		p{
			text-indent: 50px;
		}
		div{
			display: flex;
			
		}
		img{

		}
		img:nth-child(2n+3){
			background: $colour2;
		}

	}
}

#gameSearch{
	width: 80%;

	nav{
		width: 100%;

		background-color: $colour1;

		color: white;

		display: flex;

		>*{
			margin: 5px 15px;
		}
		input[type="text"]{
			width: 40%;
		}

	}

	#games{
		width: 100%;

		display: flex;
		flex-direction: column;

		> div:first-child{
			background-color: $colour1;

			color:white;
		}


		> div{

			width: 100%;
			display: grid;

			grid-template-columns: 1fr 2fr 1fr 1fr;
			grid-template-rows: 1fr;
			grid-template-areas: "name desc team join";

			label{
				width: 100%;

				margin: 5px;

				padding: 5px;


			}
			label{
				width: 100%;

				text-overflow: ellipsis;
			}
			#name{
				grid-area: name;
			}
			#description{
				grid-area: desc;
			}
			#teams{
				grid-area: team;
			}

			>a{
				grid-area: join;
				
				button{
					width: 100%;
					height: 100%;	
				}
			}


			label:after{
				content: "|";
				margin-right: 10px;
				float: right;
			}
		}
		div:nth-child(2n+3){
			background: $colour2;
		}
	}
	>div:last-child{

		padding-top: 10px;
		padding-bottom: 6px;

		display: flex;

		flex-direction: column;

		justify-content: center;

		background-color: $colour1;
		color: white;
		>div{

			display: flex;

			justify-content: center;

			>*{
				margin-left: 5px;
				margin-right: 2.5px;
			}

			input[type="text"]{
				width: 60px;

				text-align: center;
			}

		}
		>div:last-child{
			margin-top: 5px;
		};
	}

}